/* .wrapper{
  padding: 0.25rem;
  border: solid 1px black;
  width: 100%;
} */

fieldset {
  /* display: block; */

  border: groove 1px ThreeDFace;
  padding-block-start: 0.35em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  padding-inline-start: 0.75em;
  min-inline-size: min-content;


}

.student-picture{
  background-image: url(/img/students/covers/abstract-background.jpg);
}

.cover-image{
  /* border: solid 1px var(--dark); */
  width: 100%;
}

.profile-picture{
  border: solid 1px var(--dark);
  width: 25%;
  margin-left: 5%;
}

.student-info{
  display: grid;
}


.about-student img{
  width: 5%;
}

.about-student img{
  /* width: 25%; */
  margin: 0.25rem;
}


@media(min-width: 600px){
  .student-info{
    display: grid;
    grid-template-columns: 60% 40%;
    
  }
}

@media(min-width: 800px){
  
}

@media(min-width: 1000px){
  
}