/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
} */

/* .title {
  color: grey;
  font-size: 18px;
} */

h1{
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}

h2{
  padding: 0.5rem;
  text-align: center;
  font-size: 2em;
}
.main{
  display: grid;
}

/* label{
  width: 1rem;
} */

.header-nav{
  background-color: #3b4955 ;
}

.header-nav a{
  display: grid;
  padding: 0.5rem 0;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: var(--shadow);


}

.card{
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 0.5em;
  border: solid 1.5px;
  margin: 1rem auto;
  padding: 0.5rem 0;
  background-color: var(--grey);
  max-width:50em;
}

.card img{
  border: solid 1px;
width: 25%;
padding: 0.25rem;
margin: 1em;
}

.student-card-info{
  text-align: center;
  background-color:var(--light) ;
  border: solid 1px;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 1em ;
  line-height: 1.8em;
  color: #3b4955;

}





.button{

  margin: 0.5rem 0;
  color: var(--dark);
  font-size: 0.75rem;
  box-shadow: var(--shadow);

  background-size: cover; 
  background-position: center; 
  display: inline-block; 
  border: none; 
  padding: 10px; 
  width: 100px; 
  border-radius: 450px; 
  height: 2rem; 
  transition: all 0.5s; 
  cursor: pointer;
  text-align: center;
  background-color: var(--light);
}

.button:hover{ 
  width: 50px; height: 50px;
}


@media(min-width: 600px){

  .header-nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

  }
/* .main, .card{
  grid-template-columns: repeat(2, 1fr);
} */


/* .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
  } */


  .card img{
  
  width: 20%;
  }



}



@media(min-width: 800px){

}

@media(min-width: 1000px){

  
}